* {margin: 0; padding: 0;box-sizing: border-box;}
.ClearManH1 {font-family:sans-serif; color: black; background-color: gray}
.Menu-takeWork {font-family:sans-serif; color: black; background-color: darkgray}
.to-take {font-family:sans-serif; color: black; background-color: darkgray}